{% extends 'partials/base.html.twig' %}
{% set collection = page.collection() %}

{% block stylesheets %}
  {% do assets.addCss('theme://css/category.css') %}
{% endblock %}

{% block body %}
<div class="container">
  <h1 class="main-title">{{ page.title }}</h1>
  <div class="row item">
    <div class="col-md-8">
      {% for post in collection %}
          <div class="row item">
            <div class="col-sm-3 col-xs-12">
              <a href="{{ post.header.site_url }}" target="_blank">
                <img src="http://placehold.it/125x125"/>
              </a>
            </div>
            <div class="col-sm-9 col-xs-12">
              <div class="content">
                <h3 class="title"><a href="{{ post.header.site_url }}" target="_blank">{{ post.title }}</a></h3>
                <div class="description">{{ post.header.description | truncate(200) }}</div>
                <a href="{{post.url}}" class="more">Read more <i class="glyphicon glyphicon-chevron-right"></i></a>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
