{% extends 'partials/base.html.twig' %}

{% block stylesheets %}
  {% do assets.addCss('theme://css/site.css') %}
{% endblock %}


{% block body %}
<section class="site-title">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <a href="{{ page.header.site_url }}" target="_blank">
          <img src="http://placehold.it/125x125"/>
        </a>
      </div>
      <div class="col-sm-6">
        <h3>{{ page.title }}</h3>
        <p class="short-description">{{ page.header.description }}</p>
        <a href="{{ page.parent.url }}" class="category"> <span class="badge">{{ page.parent.title }}</span></a>
      </div>
    </div>
  </div>
</section>

<section class="container info">
  <div class="row">
    <div class="col-sm-8">
      <img src="http://placehold.it/800x300" class="img-responsive"/>
      <h4>About {{ page.parent.title }}</h4>
      <p class="long-description">{{ page.header.description_long }}</p>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
          <div class="panel-heading">Social networks</div>
          <div class="panel-body">
            <a href="{{ page.facebook }}" target="_blank"><i class="fa fa-3x fa-facebook-square"></i></a>
            <a href="{{ page.twitter }}" target="_blank"><i class="fa fa-3x fa-twitter-square"></i></a>
            <a href="{{ page.google }}" target="_blank"><i class="fa fa-3x fa-google-plus-square"></i></a>
            <a href="{{ page.instagram }}" target="_blank"><i class="fa fa-3x fa-instagram"></i></a>
          </div>
      </div>
      <a href="{{ page.header.site_url }}" class="btn btn-default btn-large btn-block" target="_blank">{{ page.title }}</a>
    </div>
  </div>
</section>


<!--

<div class="content">
  <h2 class="title"><a href="{{ page.header.site_url }}" target="_blank">{{ page.title }}</a></h2>
  <div class="description">{{ page.header.description }}</div>
  <a href="{{page.url}}" class="more">Read more <i class="glyphicon glyphicon-chevron-right"></i></a>
</div>

-->


{% endblock %}
