{% extends 'partials/base.html.twig' %}

{% block stylesheets %}
  {% do assets.addCss('theme://css/site.css') %}
{% endblock %}


{% block body %}
<section class="site-title">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <a href="{{ page.header.site_url }}" target="_blank">
          <img src="{{ page.media[page.header.logoW].url }}" class="img-responsive"/>
        </a>
      </div>
      <div class="col-sm-6">
        <h3>{{ page.title }}</h3>
        <p class="short-description">{{ page.header.description }}</p>
        <a href="{{ page.parent.url }}" class="category"> <span class="badge badge-category">{{ page.parent.title }}</span></a>
      </div>
      <div class="col-sm-4">
        <h4>Regions</h4>
        {% for page_taxonomy in page.taxonomy.region %}
          <span class="label label-default">{{ page_taxonomy }}</span>{% if not loop.last %} {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="container info">
  <div class="row">
    <div class="col-sm-8">
      <img src="{{ page.media[page.header.homepage].url }}" class="img-responsive"/>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
          <div class="panel-heading">Social networks</div>
          <div class="panel-body">
            <a href="{{ page.facebook }}" target="_blank"><i class="fa fa-3x fa-facebook-square"></i></a>
            <a href="{{ page.twitter }}" target="_blank"><i class="fa fa-3x fa-twitter-square"></i></a>
            <a href="{{ page.google }}" target="_blank"><i class="fa fa-3x fa-google-plus-square"></i></a>
            <a href="{{ page.instagram }}" target="_blank"><i class="fa fa-3x fa-instagram"></i></a>
          </div>
      </div>
      <a href="{{ page.header.site_url }}" class="btn btn-default btn-large btn-block" target="_blank">{{ page.title }}</a>
    </div>
  </div>
</section>

{% endblock %}
