<footer class="footer">
    <div class="container">
        <div class="row upper-section">
            <div class="col-xs-12 col-sm-3">
              <div class="title">About</div>
              <div class="description">Sharing Eco is zeoif ezoifjezioj ezifjez foizjef izejfoezi jfiezf </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="title">Navigate</div>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="http://appyfriends.io/team" target="_blank">Team</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="title">Updates</div>
                <ul>
                    <li><a href="#">Get the newsletter</a></li>
                    {% if site.owner.twitter %}
                      <li><a href="http://twitter.com/{{ site.owner.twitter }}">Twitter</a></li>
                    {% endif %}
                    {% if site.owner.facebook %}
                      <li><a href="http://facebook.com/{{ site.owner.facebook }}">Facebook</a></li>
                    {% endif %}
                    {% if site.owner.google_plus %}
                      <li><a href="{{ site.owner.google_plus }}">Google+</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="title">Tips</div>
                <ul>
                    <li><a href="{{ base_url_absolute }}/form_resource">Submit a new resource</a></li>
                    <li><a href="{{ base_url_absolute }}/form_dead_link">Report a dead link</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
      <div class="container">
         <section>All content copyright <a href="http://appyfriends.io">Appyfriends</a> &copy; All rights reserved.</section>
         <section class="footer-text">Made with <i class="fa fa-heart green"></i> from <strong>all around the world</strong></section>
       </div>
    </div>
</footer>
